{% extends "base.html.twig" %}

{% block body %}
    <h1></h1>
          <div class="container">
             <h1>Ajouter un server</h1>
             <form>
                 <div class="form-group">
                     <label for="nom">nom</label>
                     <input type="nom" class="form-control" id="nom" >
                 </div>
                 <div class="form-group">
                     <label for="nom">freq_prop</label>
                     <input type="nom" class="form-control" id="nom" >
                 </div>
                 <div class="form-group">
                     <label for="nom">taille_m</label>
                     <input type="nom" class="form-control" id="nom" >
                 </div>
                 <div class="form-group">
                     <label for="nom">taille_db</label>
                     <input type="nom" class="form-control" id="nom" >
                 </div>
                  <div class="form-group">
                     <label for="nom">responsable du server</label>
                     <input type="nom" class="form-control" id="nom" >
                 </div> 

                 <div>
                 <button class="btn btn-secondary" type="button" onclik = ""> Ajouter
                 </button>
                 </div>
            </form> 
           </div>    
{% endblock %}
